:root {
  --primary-color: #f4d849 !important;
  --primary-color-rgb: 244, 216, 73 !important;

  --secondary-color: #f4d849 !important;
  --secondary-color-rgb: 244, 216, 73 !important;

  /* --el-color-primary: #f4d849 !important; */
}
